<div class="container">
    <div class="row">
        <div class="col-12">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit a quibusdam enim neque, ea perferendis! Doloribus amet at nihil, eos, , ipsum dolor sit amet consectetur adipisicing elit. Fugit a quibusdam enim neque, ea perferendis! Doloribus amet at nihil, eos, cumque et modi nulla earum aspernatur dolore, expedita itaque repudiandacumque et modi nulla earum aspernatur dolore, expedita itaque repudiandae.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit a quibusdam enim neque, ea perferendis! Doloribus amet at nihil, eos, cumque et modi null, ipsum dolor sit amet consectetur adipisicing elit. Fugit a quibusdam enim neque, ea perferendis! Doloribus amet at nihil, eos, cumq, ipsum dolor sit amet consectetur adipisicing elit. Fugit a quibusdam enim neque, ea perferendis! Doloribus amet at nihil, eos, cumque et modi nulla earum aspernatur dolore, expedita itaque repudiandaue et modi nulla earum aspernatur dolore, expedita itaque repudiandaa earum aspernatur dolore, expedita itaque repudiandae.</p>
            <p>Lorem, ipsum dolor, ipsum dolor sit amet consectetur adipisicing elit. Fugit a quibusdam enim neque, ea perferendis! Doloribus amet at nihil, eos, cumque et modi nulla earum aspernatur dolore, expedita itaque repudianda sit amet consectetur adipisicing elit. Fugit a quibusdam enim neque, ea perferendis! Doloribus amet at nihil, eos, cumque et modi nulla earum aspernatur dolore, expedita itaque repudiandae.</p>

        </div>
    </div>
</div>